/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p, small {
    margin: 5px 0;
}

small {
    font-size: 12px;
    color: #777;
}

/* Estilos para la caja de inbox */
.div_inbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div_ms_inbox {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.div_ms_inbox p {
    font-size: 14px;
    margin: 8px 0;
    color: #555;
}

.back-button {
    display: flex;
    align-items: center;
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
    margin-left: 10%; /* Cambiado a un porcentaje */
}

.back-button svg {
    margin-right: 8px;
    transition: transform 0.3s ease-in-out;
}

.back-button:hover {
    color: #388e3c;
}

.back-button:hover svg {
    transform: translateX(-5px);
}