name: Deploy Django app to Azure Web App - Ecointercambio

on:
  push:
    branches:
      - pruebas-deploy
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # ✅ Instalar dependencias solo para pruebas básicas, no para build completo
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Django collectstatic
        run: |
          python manage.py collectstatic --noinput

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6F2238B1A4324E9982269FBE587B59DD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_75082B266AA04BA98A0A6E675D3DF8B2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FB5505AA81004649B9E7217D72AD8F47 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Ecointercambio'
          slot-name: 'Production'
          package: .
